fastapi
uvicorn
sqlalchemy
pydantic
email-validator
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
scikit-learn
pandas
numpy
joblib
vaderSentiment
cloudinary
google-cloud-storage
supabase
razorpay
websockets
python-dotenv
